<table class="ui celled table">
  <thead>
    <tr>
      <th *ngFor="let header of tableOption.colDefs">
        <sem-table-header-col [header]="header"></sem-table-header-col>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRows">
      <td *ngFor="let cell of tableOption.colDefs" >
        <sem-table-data-cell
          [row]="row"
          [cell]="cell"
          *ngIf="!isSelect(cell)"
        ></sem-table-data-cell>
        <sem-table-select-cell
          [row]="row"
          [cell]="cell"
          *ngIf="isSelect(cell)"
        ></sem-table-select-cell>
        <!-- <sem-table-select-cell [row]='row' [cell]="cell"></sem-table-select-cell> -->
      </td>
    </tr>
  </tbody>
</table>
