<div class="block">
  <span class="text-gray-700">Choose Vehicle</span>
  <div class="vehicle" *ngFor="let vehicle of vehicles">
    <label class="veh-label">
      <input
        type="radio"
        class="form-radio"
        name="radio-vehicles-{{ num }}"
        [value]="vehicle.name"
        [(ngModel)]="selectedVehicle"
        (ngModelChange)="selectVehicle($event)"
        [disabled]="
          vehicle.total_no - vehicle.selected <= 0 ||
          vehicle.max_distance < selectedPlanet.distance
        "
      />
      <span class="flex justify-between w-full" style="margin-left: 0.5rem">
        <span> {{ vehicle.name }}</span>
        <div class="ui purple horizontal label">
          {{ vehicle.total_no - vehicle.selected }}
        </div>
      </span>
    </label>
  </div>
</div>

{{ selectedVehicle }}
