.menubar {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  margin-bottom: 0.75rem;

  & > .menu > .item:active {
    border-bottom: 2px solid #fff;
  }
  & > .menu > .item:active {
    background: inherit;
    border-bottom: 2px solid #fff;
  }
  & > .menu > .item.heading:hover {
    background: inherit;
  }
}

.ui.menu {
  background: initial;
}
