<div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
  <div cdkDropListGroup>
    <app-list
      [list]="list"
      (dropped)="drop($event)"
      (deleteData)="deleteList($event)"
      *ngFor="let list of lists"
    ></app-list>
  </div>
  <!-- Modal for Inserting a new List -->
  <div class="modal" [class.modal-open]="modalToggle">
    <div class="modal-box" style="background-color: white">
      <div class="form-control">
        <label class="label">
          <span class="label-text text-black">List Name</span>
        </label>
        <input
          type="text"
          placeholder="List Name"
          class="input input-bordered"
          [formControl]="addList"
        />
      </div>
      <div class="modal-action">
        <label for="my-modal-2" class="btn btn-primary" (click)="AddList()"
          >Accept</label
        >
        <label
          for="my-modal-2"
          class="btn btn-error"
          (click)="modalToggle = false"
          >Close</label
        >
      </div>
    </div>
  </div>
</div>
