<div class="ui container raised segment">
  <div class="grid sm:grid-cols-1 lg:grid-cols-4 md:grid-cols-2">
    <div style="margin: 1.25rem" *ngFor="let i of Travels">
      <app-travel
        [planets]="planets"
        (planetChange)="togglePlanet($event)"
        [num]="i"
        [vehicles]="vehicles"
        (changes)="updateSelections($event, i)"
      ></app-travel>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <div class="ui raised segment" style="margin: 1.25rem">
      <div
        class="ui top attached black label text-center"
        *ngIf="getTotalTime() > 0"
      >
        Total Time of Journey :{{ getTotalTime() }}
      </div>
      <button
        class="ui primary button w-full"
        (click)="find()"
        [disabled]="selections.length != 4"
      >
        Find
      </button>
    </div>
  </div>
</div>
